* {
    /* margin: 0 auto; */
    /* border: 1px solid black; */
}

nav {
    font-size: 150%;
}

.nav_links {
    display: flex;
    /* max-width: 90%; */
    gap: 1%;
    /* flex-wrap: wrap; */
    padding: 1%;
    padding-right: 5%;
    font-weight: bold;
    font-size: 1.2em;
    list-style-type: none;
    justify-content: flex-end;
    border-top: 1px solid #0fafaf;
    border-bottom: 1px solid #0fa4af;
    margin: 0 auto;
}

.nav_links a {
    text-decoration: none;
    color: #003135;
}
    
.nav_links a:hover {
        color: #964734;
}

body {
    /* background-color: #ccf3fa; */
    color: #003135;
}

h1 {
    font-size: 350%;
    color: #003135;
    text-align: center;
    padding: 1%;
}

h2 {
    font-size: 200%;
    /* color: #024950; */
}

p {
    font-size: 1.3em;
}

main {
    display: flex;
}

main > div {
    flex: 1;
}

.book img {
    max-width: 500px;
    margin: 0 auto;
    display: block;
    border: 10px solid #964734;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
}

.skiptocontent a:focus {
    position: absolute;
    top: 0;
}